h1 {
    font-size:25px;
    color: #000080;
}

.title {
    font-size:30px;
    color:#000080;
    text-shadow: 3px 1px 10px silver;
    font-weight: bold;
}

.form{
    color: #000080;
    margin-bottom:20px;
} 

#user_icon{
    margin: 0 auto;
}